<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddForm</title>
    <link rel="stylesheet" href="/public/bootstrap.css">
</head>
<body>
    <form action="/auth/add_book" method="post"></form>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="bookname" class="form-label">Name</label>
          <input type="Name" class="form-control" id="bookname">
        </div>
        <div class="col-md-6">
          <label for="id" class="form-label">Book ID</label>
          <input type="number" class="form-control" id="id">
        </div>
        <div class="col-12">
          <label for="author" class="form-label">Author Name</label>
          <input type="text" class="form-control" id="authorname" placeholder="Author Name">
        </div>
        
        
        
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Book</button>
          <button type="cancel" class="btn btn-primary">Cancel</button>
        </div>
        
      </form>
</body>
</html>